* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #111;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
    url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1") center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 25px;
}

/* BUTTON */
.btn {
    background: #ff7a00;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* TRIAL (DISSEMBUNYIKAN) */
.trial {
    display: none;
    padding: 80px;
    text-align: center;
}

/* MUNCUL SAAT DIKLIK */
#trial:target {
    display: block;
}

/* FORM */
.trial-form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trial-form input,
.trial-form select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.trial-form button {
    background: #ff7a00;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
