* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #111;
}

/* NAVBAR */
.navbar {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}

.logo {
    color: #ff7a00;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url("https://images.unsplash.com/photo-1576678927484-cc907957088c") center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    background: #ff7a00;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
}

/* PROGRAM (DISSEMBUNYIKAN) */
.program {
    display: none;
    padding: 70px;
    text-align: center;
}

/* SAAT DIKLIK */
#program:target {
    display: block;
}

/* PROGRAM CARD */
.program-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f5f5f5;
    padding: 25px;
    width: 250px;
    border-top: 5px solid #ff7a00;
    border-radius: 15px;
}

/* CONTACT */
.contact {
    padding: 50px;
    text-align: center;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
